@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap');

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    font-family: 'Anton', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color         : #fff;
    text-transform: uppercase;
}

.header {
    padding         : 27px 32px 36px 26px;
    background-color: grey;
    background      : url("../img/header-bg.png") no-repeat center top / cover;
    height          : 100vh;
}

.container {
    width      : 1170px;
    margin     : 0 auto;
    display    : flex;
    align-items: center;
    text-align : center;
}

.menu {
    display    : flex;
    align-items: center;
}

.logo {
    padding-right: 69px;
}

.menu_items {
    display        : flex;
    justify-content: space-between;
    font-size      : 17px;
    text-transform : uppercase;
    line-height    : 21px;
    letter-spacing : 0.1em;
}

.menu_item {
    list-style: none;

    &:not(:last-child) {
        padding: 0 40px 0 0;
    }
}

.menu_link {
    color          : #fff;
    text-decoration: none;
}

.phone {
    margin-left: 623px;

    >a {
        color          : #fff;
        text-decoration: none;
        display        : flex;
        flex-direction : row;
        font-size      : 14px;
    }
}

.titles {
    margin-top   : 263px;
    margin-bottom: 20px;

    >.pre-title {
        font-size     : 35px;
        line-height   : 45px;
        letter-spacing: 0.1em;
        margin-left   : -355px;

    }

    >.title {
        font-size     : 120px;
        line-height   : 170px;
        letter-spacing: 0.1em;
    }
}

.booking {
    font-size     : 30px;
    line-height   : 26px;
    text-align    : center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor        : pointer;
    border        : 2px solid #fff;
    background    : transparent;
    color         : #fff;
    padding       : 28px 50px;
    font-family   : 'Anton';
}

.about_title {
    margin     : 113px 0 56px 0;
    color      : #000;
    font-size  : 50px;
    line-height: 75px;
}

.article-title {
    color: #000;
}

.container>.articles {
    display: flex;
    flex   : auto;
}

.container>.articles>.article>.article-title {
    color        : #000;
    margin-bottom: 19px;
    padding-left : 36px;
}

.container>.articles>.article>p {
    font-family    : 'Open-Sans', sans-serif;
    
    justify-content: space-between;
}