.titles {
	margin-top   : 263px;
	margin-bottom: 20px;

	>.pre-title {
		font-size     : 35px;
		line-height   : 45px;
		letter-spacing: 0.1em;
		margin-left   : -355px;
	}

	>.title {
		font-size     : 120px;
		line-height   : 170px;
		letter-spacing: 0.1em;
	}
}

.booking {
	font-size     : 30px;
	line-height   : 26px;
	text-align    : center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	cursor        : pointer;
	color         : #fff;
	border        : 2px solid #fff;
	background    : transparent;
	padding       : 28px 50px;
	font-family   : 'Anton';
	transition    : 0.3s ease-in;

	&:hover {
		background: #fff;
		color     : aqua;
	}
}
